{% extends 'header.html' %}
{% block title %}Blog{% endblock title %}
{% block body %}
    <div class="container col-8">
        <hr>
        <div class="container text-center mt-5">
            {% for i in posts%}
                <img src="{{i.img_url}}" style="width: 300px; height: 250px;" alt="blogImage">
                <h4>{{i.title}}</h4>
                <p style="word-break: break-all;">{{i.description}}</p>
                <p><small>- By {{i.username}}</small></p>
                <p><small>{{i.date_written}}</small></p>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
